<% provide(:title, "Schülerdaten importieren") %>
<h1>Sch&uuml;lerdaten importieren</h1>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= render "import", :locals => {:graduation_year => @graduation_year, :class_letter => @class_letter} %>
	</div>
</div>