<% provide(:title, params[:class]) %>
<h1>Klasse <%= params[:class] %></h1>

<div class="row">
	<div class="col-md-8 col-md-offset-2 center">
		<%= link_to "Neuer Schüler", new_student_path, :class => "btn btn-default" %>
		<%= link_to "Schüler importieren", import_students_path, :class => "btn btn-default" %>
	</div>
</div>

<div class="row">
	<aside class="col-md-8 col-md-offset-2">
		<ul class="students">
			<%= render @students %>
		</ul>
	</aside>
</div>