files:
    "/etc/cron.d/letsencrypt":
        mode: "000644"
        owner: root
        group: root
        content: |
            17 11 5 * * /usr/local/bin/letsencrypt-renew.sh

    "/usr/local/bin/letsencrypt-renew.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash
            AWS_DEFAULT_REGION="eu-central-1";
            wget https://dl.eff.org/certbot-auto
            chmod a+x certbot-auto
            mkdir /var/log/nginx
            service passenger stop
            service nginx start
            ./certbot-auto certonly --debug -n -d lowcost-env.b7jxztvame.eu-central-1.elasticbeanstalk.com -m obsidian.web@gmx.de --webroot -w /usr/share/nginx/html --agree-tos
            service nginx stop
            aws elb delete-load-balancer-listeners --load-balancer-name awseb-e-y-AWSEBLoa-XNPGNYR579SX --load-balancer-port 443
            aws iam delete-server-certificate --server-certificate-name obsidian-rails-le
            aws iam upload-server-certificate --server-certificate-name obsidian-rails-le --certificate-body file:///etc/letsencrypt/live/lowcost-env.b7jxztvame.eu-central-1.elasticbeanstalk.com/cert.pem --private-key file:///etc/letsencrypt/live/lowcost-env.b7jxztvame.eu-central-1.elasticbeanstalk.com/privkey.pem --certificate-chain file:///etc/letsencrypt/live/lowcost-env.b7jxztvame.eu-central-1.elasticbeanstalk.com/chain.pem
            aws elb create-load-balancer-listeners --load-balancer-name awseb-e-y-AWSEBLoa-XNPGNYR579SX --listeners "Protocol=HTTPS,LoadBalancerPort=443,InstanceProtocol=HTTP,InstancePort=80,SSLCertificateId=arn:aws:iam::192536881068:server-certificate/obsidian-rails-le"
            service passenger start
            exit 0

    "/etc/nginx/nginx.conf":
        mode: "000644"
        owner: "root"
        group: "root"
        content: |
            user nginx;
            worker_processes auto;
            error_log /var/log/nginx/error.log;
            pid /var/run/nginx.pid;

            include /usr/share/nginx/modules/*.conf;

            events {
                worker_connections 1024;
            }

            http {
                log_format main '$remote_addr - $remote_user [$time_local] "$request" '
                                '$status $body_bytes_sent "$http_referer" '
                                '"$http_user_agent" "$http_x_forwarded_for"';

                access_log /var/log/nginx/access.log main;
                sendfile on;
                tcp_nopush on;
                tcp_nodelay on;
                keepalive_timeout 65;
                types_hash_max_size 2048;

                include /etc/nginx/mime.types;
                default_type application/octet-stream;
                include /etc/nginx/conf.d/*.conf;
                index index.html index.htm;

                server {
                    listen 80 default_server;
                    listen [::]:80 default_server;
                    server_name localhost;
                    root /usr/share/nginx/html;

                    include /etc/nginx/default.d/*.conf;

                    location / {

                    }

                    location ^~ /.well-known/acme-challenge/ {
                        default_type "text/plain";
                        allow all;
                    }

                    error_page 404 /404.html;
                    location = /40x.html {

                    }

                    error_page 500 502 503 504 /50x.html;
                    location = /50x.html {

                    }
                }
            }

commands:
    remove_old_cron:
        command: "rm -f /etc/cron.d/*.bak"
