files:
    "/etc/cron.d/letsencrypt":
        mode: "000644"
        owner: root
        group: root
        content: |
            17 11 5 * * /usr/local/bin/letsencrypt-renew.sh

    "/usr/local/bin/letsencrypt-renew.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash
            wget https://certbot.eff.org/certbot-auto
            chmod a+x certbot-auto
            service passenger stop
            service nginx start
            ./certbot-auto certonly -n -d lowcost-env.b7jxztvame.eu-central-1.elasticbeanstalk.com -m obsidian.web@gmx.de --webroot -w /usr/local/nginx/html
            service nginx stop
            aws elb delete-load-balancer-listeners --load-balancer-name awseb-e-y-AWSEBLoa-XNPGNYR579SX --load-balancer-port 443
            aws iam delete-server-certificate --server-certificate-name obsidian-rails-le
            aws iam upload-server-certificate --server-certificate-name obsidian-rails-le --certificate-body file:///etc/letsencrypt/live/lowcost-env.b7jxztvame.eu-central-1.elasticbeanstalk.com/cert.pem --private-key file:///etc/letsencrypt/live/lowcost-env.b7jxztvame.eu-central-1.elasticbeanstalk.com/privkey.pem --certificate-chain file:///etc/letsencrypt/live/lowcost-env.b7jxztvame.eu-central-1.elasticbeanstalk.com/chain.pem
            aws elb create-load-balancer-listeners --load-balancer-name awseb-e-y-AWSEBLoa-XNPGNYR579SX --listeners "Protocol=HTTPS,LoadBalancerPort=443,InstanceProtocol=HTTP,InstancePort=80,SSLCertificateId=arn:aws:iam::192536881068:server-certificate/obsidian-rails-le"
            service passenger start
            exit 0

    "/etc/nginx/conf.d/acme_challenge.conf":
        mode: "000644"
        owner: "root"
        group: "root"
        content: |
            location ^~ /.well-known/acme-challenge/ {
                default_type "text/plain";
                allow all;
            }

commands:
    remove_old_cron:
        command: "rm -f /etc/cron.d/*.bak"
