<li>
	<span class="float-left">
		<span class="book_isbn"><%= book.isbn %></span>
		<%= display_title(book) %>
	</span>
	<span class="float-right">
		<%= link_to "", book_path(book), :method => :delete, :data => {:confirm => "Sicher?"}, :class => 
			"btn btn-danger btn-xs glyphicon glyphicon-remove" %>
	</span>
</li>