<% provide(:title, "Über") %>
<h1>&Uuml;ber Obsidian Web</h1>

<p>
	Obsidian Web ist die Online-Version von <a href="https://github.com/philip98/obsidian">Obsidian</a>,
	einer B&uuml;cher- und Ausleihenverwaltungs-Software f&uuml;r Lehrmittelbibliotheken von Schulen.
</p>
<p>
	Aus Datenschutzgr&uuml;nden ist Obsidian Web durch ein Passwort gesch&uuml;tzt, das eine Schule festlegt,
	wenn sie ihren Account erstellt. Daf&uuml;r ist Obsidian Web im Gegensatz zur Programmversion von
	&uuml;berall zug&auml;nglich und sogar auf mobilen Endger&auml;ten verf&uuml;gbar.
</p>