<% provide(:title, "Kontakt") %>
<h1>Kontakt</h1>

<p>
	Mein Name ist Philip Schl&ouml;sser und ich gehe (noch) in die elfte Klasse des Michaeli-Gymnasiums
	M&uuml;nchen. Per E-Mail bin ich unter <a href="mailto:philipschloesser@gmx.net">philipschloesser@gmx.net</a>
	zu erreichen.
</p>