<% provide(:title, "Alle Lehrer") %>
<h1>
	Alle Lehrer
	<%= link_to "", new_teacher_path, :class => "btn btn-success glyphicon glyphicon-plus" %>
</h1>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="center"><%= will_paginate @teachers %></div>
			<ul class="teachers">
				<% if @teachers.any? %>
				<%= render @teachers %>
				<% else %>
				<span class="blank_list">Zur Zeit sind keine Lehrer vorhanden</span>
				<% end %>
			</ul>
		<div class="center"><%= will_paginate @teachers %></div>
	</div>
</div>