<% provide(:title, @teacher.name) %>
<h1><%= @teacher.name %><small>Lehrer</small></h1>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<section class="teacher_buttons">
			<%= link_to "Ausleihe buchen", new_teacher_lending_path(@teacher), :class => "btn btn-primary" %>
			<%= link_to "Rückgabe buchen", withdraw_teacher_lendings_path(@teacher), :class => "btn btn-primary" %>
		</section>
		<section class="books">
			<h3 class="center">Ausleihen</h3>
			<% if @teacher.lendings.any? %>
			<%= render @teacher.lendings %>
			<% else %>
			<span class="blank_list">Zur Zeit sind keine Bücher ausgeliehen</span>
			<% end %>
		</section>
	</div>
</div>