<li>
	<span class="float-left">
		<span class="book_isbn"><%= lending.book.isbn %></span>
		<%= display_title(lending.book) %>
	</span>
	<span class="float-right">
		<%= lending.created_at.strftime("%a, %Y-%m-%d") %>
	</span>
</li>