@import "bootstrap-sprockets";
@import "bootstrap";

$gray-medium-light: #eaeaea;
$black: #000000;

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	padding-top: 60px;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
	h1 {
		margin-bottom: 10px;
	}
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
	small {
		margin-left: 5px;
	}
}

h1 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}

h2 {
	font-size: 1.2em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: $gray-light;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
}

#logo {
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	color: white;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
	&:hover {
		color: white;
		text-decoration: none;
	}
}

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid $gray-medium-light;
	color: $gray-light;
	a {
		color: $gray;
		&:hover {
			color: $gray-darker;
		}
	}
	small {
		float: left;
	}
	ul {
		float: right;
		list-style: none;
		li {
			float: left;
			margin-left: 15px;
		}
	}
}

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}

input, textarea, select, .uneditable-input {
	border: 1px solid #bbb;
	width: 100%;
	margin-bottom: 15px;
	@include box_sizing;
}

input {
	height: auto !important;
}

#error_explanation {
	color: red;
	ul {
		color: red;
		margin: 0 0 30px 0;
	}
}

.error {
	color: red;
}

#delete_account {
	margin-top: 20px;
}

.list {
	list-style: none;
	margin: 0;
	li {
		overflow: auto;
		padding: 10px 0;
		border-bottom: 1px solid $gray-lighter;
		a.teacher_name {
			color: $black;
			text-decoration: none;
		}
	}
}

a.student_name {
	color: $black;
	text-decoration: none;
}

a.student_class {
	font-weight: bold;
	margin-right: 20px;
}

.student_buttons {
	margin-top: 20px;
	margin-bottom: 10px;
	text-align: center;
}

.teacher_buttons {
	margin-top: 20px;
	margin-bottom: 10px;
	text-align: center;
}

.classes {
	overflow: auto;
	margin-top: 10px;
	a.btn {
		margin: 3px 3px;
	}
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.books {
	list-style: none;
	margin: 0;
	li {
		overflow: auto;
		padding: 10px 0;
		border-bottom: 1px solid $gray-lighter;
	}
}

aside {
	section {
		padding: 10px 0;
		margin-top: 20px;
		&:first-child {
			border: 0;
			padding-top: 0;
		}
		span {
			display: block;
			margin-bottom: 3px;
			line-height: 1;
		}
		h1 {
			font-size: 1.4em;
			text-align: left;
			letter-spacing: -1px;
			margin-bottom: 3px;
			margin-top: 0px;
		}
	}
}

.blank_list {
	font-style: italic;
}

.book_isbn {
	margin-right: 20px;
}

.table-header-rotated {
	border-collapse: collapse;
	td {
		border-right: 1px solid $gray-light;
		padding-left: 7px;
		padding-right: 7px;
	}
	th.rotate {
		vertical-align: bottom;
		padding-bottom: 20px;
		height: 250px;
		white-space: nowrap;
    // Firefox needs the extra DIV for some reason, otherwise the text disappears if you rotate 
		> div {
    		@include rotate(315deg);
			width: 30px;
		}
		> div > span {
			border-bottom: 1px solid #ccc;
			padding: 5px 10px;
		}
	}
}

input[type="checkbox"] {
	width: auto !important;
}

select {
	width: auto !important;
}

a.book_title {
	text-decoration: none;
	color: #000;
	padding-right: 10px;
}

span.twitter-typeahead {
	width: 100%;
	input[type=text] {
		margin-top: 10px;
		width: 250px;
	}
	.tt-dropdown-menu {
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 1000;
		display: none;
		float: left;
		min-width: 160px;
		padding: 5px 0;
		margin: 2px 0 0;
		list-style: none;
		font-size: 14px;
		text-align: left;
		background-color: #ffffff;
		border: 1px solid #cccccc;
		border: 1px solid rgba(0, 0, 0, 0.15);
		border-radius: 4px;
		-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
		box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
		background-clip: padding-box;
		h3 {
			padding-left: 20px;
		}
	}
	.tt-suggestion {
		> p {
			display: block;
			padding: 3px 20px;
			margin-bottom: 0px;
			clear: both;
			font-weight: normal;
			line-height: 1.42857143;
			color: #333333;
			white-space: nowrap;
			&:hover, &:focus {
				color: #ffffff;
				text-decoration: none;
				outline: 0;
				background-color: #428bca;
			}
		}
		.tt-cursor {
			color: #ffffff;
			background-color: #428bca;
		}
	}
}

.input-group {
	span.twitter-typeahead {
		display: block !important;
		.tt-dropdown-menu {
			top: 32px !important;
		}
	}
}

.input-group.input-group-lg span.twitter-typeahead .tt-dropdown-menu {
	top: 44px !important;
}

.input-group.input-group-sm span.twitter-typeahead .tt-dropdown-menu {
	top: 28px !important;
}