// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tiles {
	margin: 10px;
	width: 100%;
	text-transform: uppercase;
	font-weight: bold;
	padding-top: 20px;
	padding-bottom: 20px;
}