<footer class="footer">
	<small>
		&copy; Philip Schl&ouml;sser, 2015
	</small>
	<nav>
		<ul>
			<li><%= link_to "Kontakt", contact_path %></li>
			<li><%= link_to "Über", about_path %></li>
		</ul>
	</nav>
</footer>