<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="container">
		<%= link_to "obsidian web", root_path, :id => "logo" %>
		<nav>
			<ul class="nav navbar-nav navbar-right">
				<li><%= link_to "Startseite", root_path %></li>
				<li><%= link_to "Hilfe"%></li>
			</ul>
		</nav>
	</div>
</header>